<!doctype html>
<html>

<head>

    <title>ระบบยื่นคำขอลงทะเบียนเรียนล่าช้า</title>
    <link rel='stylesheet' href='../css/styleu5.css'>
</head>

<header>
    <h2>
        <img src="../image/logo.png" height="150" width="150" align="middle">&nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;<b>ระบบยื่นคำขอลงทะเบียนเรียนล่าช้า</b><br>
        <!-- <img align="LEFT"> -->
    </h2>
</header>
<!-- <body background="background.jpg" bgproperties="fixed"></body> -->
<center>
    <h3>
        <br>
        <p>แยกประเภทนักศึกษาตามการตรวจสอบเอกสาร</p>
    </h3>
</center>


<body>
    <section>
        <nav>
            <button>ข้อมูลรายชื่อนักศึกษาที่ยืนยันคำร้อง<br>การจดทะเบียนล่าช้า</button><br>
            <br><button>การจดทะเบียนล่าช้า<br></button><br>
            <br><button>การตรวจสอบข้อมูลเอกสาร</button><br>
            <br><button>แยกประเภทนักศึกษาตามการตรวจสอบเอกสาร</button><br>
            <br><button>ส่งข้อมูลให้ฝ่ายวิชาการ</button><br>
            <!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br> -->
            <br><a align="Left" class="button2" href="../html/login.html">Sign out</a>
        </nav>

        <article>
            <h5 align="center">
                <TABLE BORDER=1 width="100%" ALIGN="CENTER">

                    <!-- <CAPTION></CAPTION> -->
                    <TR>
                        <td>ลำดับ</td>
                        <td>ชื่อ - นามสกุล</td>
                        <td>เลขประจำตัวนักศึกษา</td>
                        <td>การเซ็นต์รับรอง</td>
                        <td align="right">ความถูกต้องของคำร้อง</td>
                    </TR>

                    <TR>
                        <TD>1</TD>
                        <td>นางสาว XXXXX XXXXX</td>
                        <td>62XXXXXXXX</td>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="อาจารย์ที่ปรึกษา">อาจารย์ที่ปรึกษา
                                <br><input type="checkbox" value="อาจารย์ประจำวิชา">อาจารย์ประจำวิชา
                                <br><input type="checkbox" value="คณบดี">คณบดี</td>
                        </form>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="ถูกต้อง">ถูกต้อง
                                <br><input type="checkbox" value="ไม่ถูกต้อง">ไม่ถูกต้อง
                        </form>
                    </TR>
                    <TR>
                        <TD>2</TD>
                        <td>นางสาว XXXXX XXXXX</td>
                        <td>62XXXXXXXX</td>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="อาจารย์ที่ปรึกษา">อาจารย์ที่ปรึกษา
                                <br><input type="checkbox" value="อาจารย์ประจำวิชา">อาจารย์ประจำวิชา
                                <br><input type="checkbox" value="คณบดี">คณบดี</td>
                        </form>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="ถูกต้อง">ถูกต้อง
                                <br><input type="checkbox" value="ไม่ถูกต้อง">ไม่ถูกต้อง
                        </form>
                    </TR>
                    <TR>
                        <TD>3</TD>
                        <td>นาย XXXXX XXXXX</td>
                        <td>63XXXXXXXX</td>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="อาจารย์ที่ปรึกษา">อาจารย์ที่ปรึกษา
                                <br><input type="checkbox" value="อาจารย์ประจำวิชา">อาจารย์ประจำวิชา
                                <br><input type="checkbox" value="คณบดี">คณบดี</td>
                        </form>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="ถูกต้อง">ถูกต้อง
                                <br><input type="checkbox" value="ไม่ถูกต้อง">ไม่ถูกต้อง
                        </form>
                    </TR>
                    <TR>
                        <TD>4</TD>
                        <td>นางสาว XXXXX XXXXX</td>
                        <td>61XXXXXXXX</td>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="อาจารย์ที่ปรึกษา">อาจารย์ที่ปรึกษา
                                <br><input type="checkbox" value="อาจารย์ประจำวิชา">อาจารย์ประจำวิชา
                                <br><input type="checkbox" value="คณบดี">คณบดี</td>
                        </form>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="ถูกต้อง">ถูกต้อง
                                <br><input type="checkbox" value="ไม่ถูกต้อง">ไม่ถูกต้อง
                        </form>
                    </TR>
                    <TR>
                        <TD>5</TD>
                        <td>นาย XXXXX XXXXX</td>
                        <td>61XXXXXXXX</td>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="อาจารย์ที่ปรึกษา">อาจารย์ที่ปรึกษา
                                <br><input type="checkbox" value="อาจารย์ประจำวิชา">อาจารย์ประจำวิชา
                                <br><input type="checkbox" value="คณบดี">คณบดี</td>
                        </form>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="ถูกต้อง">ถูกต้อง
                                <br><input type="checkbox" value="ไม่ถูกต้อง">ไม่ถูกต้อง
                        </form>
                    </TR>
                    <TR>
                        <TD>6</TD>
                        <td>นาย XXXXX XXXXX</td>
                        <td>61XXXXXXXX</td>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="อาจารย์ที่ปรึกษา">อาจารย์ที่ปรึกษา
                                <br><input type="checkbox" value="อาจารย์ประจำวิชา">อาจารย์ประจำวิชา
                                <br><input type="checkbox" value="คณบดี">คณบดี</td>
                        </form>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="ถูกต้อง">ถูกต้อง
                                <br><input type="checkbox" value="ไม่ถูกต้อง">ไม่ถูกต้อง
                        </form>
                    </TR>
                    <TR>
                        <TD>7</TD>
                        <td>นาย XXXXX XXXXX</td>
                        <td>63XXXXXXXX</td>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="อาจารย์ที่ปรึกษา">อาจารย์ที่ปรึกษา
                                <br><input type="checkbox" value="อาจารย์ประจำวิชา">อาจารย์ประจำวิชา
                                <br><input type="checkbox" value="คณบดี">คณบดี</td>
                        </form>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="ถูกต้อง">ถูกต้อง
                                <br><input type="checkbox" value="ไม่ถูกต้อง">ไม่ถูกต้อง
                        </form>
                    </TR>
                    <TR>
                        <TD>8</TD>
                        <td>นาย XXXXX XXXXX</td>
                        <td>63XXXXXXXX</td>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="อาจารย์ที่ปรึกษา">อาจารย์ที่ปรึกษา
                                <br><input type="checkbox" value="อาจารย์ประจำวิชา">อาจารย์ประจำวิชา
                                <br><input type="checkbox" value="คณบดี">คณบดี</td>
                        </form>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="ถูกต้อง">ถูกต้อง
                                <br><input type="checkbox" value="ไม่ถูกต้อง">ไม่ถูกต้อง
                        </form>
                    </TR>
                    <TR>
                        <TD>9</TD>
                        <td>นางสาว XXXXX XXXXX</td>
                        <td>62XXXXXXXX</td>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="อาจารย์ที่ปรึกษา">อาจารย์ที่ปรึกษา
                                <br><input type="checkbox" value="อาจารย์ประจำวิชา">อาจารย์ประจำวิชา
                                <br><input type="checkbox" value="คณบดี">คณบดี</td>
                        </form>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="ถูกต้อง">ถูกต้อง
                                <br><input type="checkbox" value="ไม่ถูกต้อง">ไม่ถูกต้อง
                        </form>
                    </TR>
                    <TR>
                        <TD>10</TD>
                        <td>นาย XXXXX XXXXX</td>
                        <td>62XXXXXXXX</td>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="อาจารย์ที่ปรึกษา">อาจารย์ที่ปรึกษา
                                <br><input type="checkbox" value="อาจารย์ประจำวิชา">อาจารย์ประจำวิชา
                                <br><input type="checkbox" value="คณบดี">คณบดี</td>
                        </form>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="ถูกต้อง">ถูกต้อง
                                <br><input type="checkbox" value="ไม่ถูกต้อง">ไม่ถูกต้อง
                        </form>
                    </TR>
                    <TR>
                        <TD>11</TD>
                        <td>นาย XXXXX XXXXX</td>
                        <td>62XXXXXXXX</td>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="อาจารย์ที่ปรึกษา">อาจารย์ที่ปรึกษา
                                <br><input type="checkbox" value="อาจารย์ประจำวิชา">อาจารย์ประจำวิชา
                                <br><input type="checkbox" value="คณบดี">คณบดี</td>
                        </form>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="ถูกต้อง">ถูกต้อง
                                <br><input type="checkbox" value="ไม่ถูกต้อง">ไม่ถูกต้อง
                        </form>
                    </TR>
                    <TR>
                        <TD>12</TD>
                        <td>นาย XXXXX XXXXX</td>
                        <td>63XXXXXXXX</td>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="อาจารย์ที่ปรึกษา">อาจารย์ที่ปรึกษา
                                <br><input type="checkbox" value="อาจารย์ประจำวิชา">อาจารย์ประจำวิชา
                                <br><input type="checkbox" value="คณบดี">คณบดี</td>
                        </form>
                        <form action="">
                            <td align="Left"><input type="checkbox" value="ถูกต้อง">ถูกต้อง
                                <br><input type="checkbox" value="ไม่ถูกต้อง">ไม่ถูกต้อง
                        </form>
                    </TR>
                </TABLE>
            </h5>

        </article>
    </section>
    <!-- <header>
        <a class="button2" href="login.html">Sign out</a>
    </header> -->

</body>
<button3>
    <a href="">บันทึกข้อมูล</a>
</button3>





</html>