<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="เว็บสำหรับลงทะเบียนล่าช้า">
    <title>ระบบยื่นคำร้องขอลงทะเบียนล่าช้า</title> <!--Title บน Tab-->
</head>
<style>
    body {
  background-image: url("../image/background.PNG");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;}
</style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
</style>
<body>
    <br><!--ขึ้นบรรทัด--> 
    <h1 style="text-align:center; font-family: 'Prompt', sans-serif;" >
    <img src="../image/tu_logo.png" alt="logo"width="150px" height="150px" /> <!--ชื่อเรื่องหลัก-->
     ระบบยื่นคำร้องขอลงทะเบียนล่าช้า</h1>
    <table style="font-family: 'Prompt', sans-serif; background-color: white;" align="center" width="800px" height="300px" cellpadding="0">
        <thead>
            <th>                   </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <form style="font-family: 'Prompt', sans-serif; font-size: 20pt;" align = "center"  >
                        <div>
                            <label for="Username">Username:</label>
                            <input type="text" name = "Username" placeholder="Student ID" required>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form style="font-family: 'Prompt', sans-serif; font-size: 20pt;" align = "center"  >
                        <div>
                            <label for="Password">Password:</label>
                            <input type="password" name = "Password" placeholder="Password" required >
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <div align="middle">
                        <a href="../html/main_menu.html">
                            <input type="submit" value="Log in" style=" font-size: 22pt;font-family: 'Prompt', sans-serif;background-color: coral;" >
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>