<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หน้าแรก</title>
</head>
<style>
    body {
  background-image: url("../image/background.PNG");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  }
</style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,200&display=swap');
</style>
<body>
   <table border="0" style="font-family: 'Kanit', sans-serif;">
       <thead>
            <th></th>
            <th></th>
            <th></th>
       </thead>
       <tbody>
            <tr>
                <td width="1200px">
                    <span style="font-size: 32pt;">
                        <img src="/image/tu_logo.png" alt="tu_logo"width="150px" height="150px" valign="middle"><b>ระบบยื่นคำร้องขอลงทะเบียนล่าช้า</b>
                    </span>
                </td>
                <td height="150px" width="200px">
                    <span>
                        <p style=" font-size: 16pt; color: black;">
                            Firstname Lastname
                        </p>
                        <p style=" font-size: 16pt; color: black;">
                            Role
                        </p>
                    </span>
                    <span >
                        <a href="/" style="text-align: right;color: white;" >sign out</a>
                    </span>
                </td>
                <td >
                    <span>
                        <img src="../image/icon.png" alt="user picture"width="120px" height="120px" align="right">
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="3"> <!--แถวนี้ใช้ทำสองคอลัมน์ คือคอลัมน์ตัวเลือก กับคอลัมน์แสดงผล-->
                    <table cellspacing ="10" cellpadding="10" border="0">
                        <thead>
                            <th>เมนู</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="200px">
                                    <div style="align-self: auto;">
                                        <table cellspacing ="10" cellpadding="10" >
                                            <thead><th></th></thead>
                                            <tbody valign="top" width="20%"> <!--คอลัมน์สำหรับสร้างลิงต์เมนู-->
                                                <tr>
                                                    <div style="text-align:center;background-color:white; font-size: 16px;">
                                                        <a href="/main_menu" style="color:black "><b>หน้าแรก</b></a>
                                                        <p></p>
                                                    </div>
                                                </tr>
                                                <tr>
                                                    <div style="text-align:center;background-color:white; font-size: 16px;">
                                                        <a href="/fetch_student_data" style="color:black "><b>ดึงข้อมูลนักศึกษา</b></a>
                                                        <p></p>
                                                    </div>
                                                </tr>
                                                <tr>
                                                    <div style="text-align:center;background-color:white; font-size: 16px;">
                                                        <a href="/classify" style="color:black "><b>แยกประเภทและบันทึกข้อมูลนักศึกษา</b></a>
                                                        <p></p>
                                                    </div>
                                                </tr>
                                                <tr>
                                                    <div style="text-align:center;background-color:white; font-size: 16px;">
                                                        <a href="/display_student_detail" style="color:black"><b>แสดงผลข้อมูลนักศึกษา</b></a>
                                                        <p></p>
                                                    </div>
                                                </tr>
                                                <tr>
                                                    <div style="text-align:center;background-color:white; font-size: 16px;">
                                                        <a href="/consider" style="color:black " ><b>พิจารณาการลงทะเบียนล่าช้า</b></a>
                                                        <p></p>
                                                    </div>
                                                </tr>
                                                <tr>
                                                    <div style="text-align:center;background-color:white; font-size: 16px;">
                                                        <a href="/pass_student_data" style="color:black " ><b>บันทึกผลการลงทะเบียน</b></a>
                                                        <p></p>
                                                    </div>
                                                </tr>
                                                <tr>
                                                    <div style="text-align:center;background-color:white; font-size: 16px;">
                                                        <a href="/notice_result" style="color:black " ><b>ประกาศผลการลงทะเบียน</b></a>
                                                        <p></p>
                                                    </div>
                                                </tr>
                                                
                                                
                                            </tbody>
                                    </div>
                                    </table>
                                </td>
                                <td  width="1300px" style="background:white;height: 80%;" valign="top"> <!--ใช้เกลี่ยนสีขาวเพื่อแสดงผลต่างๆ-->
                                    <h3>ยินดีต้อนรับเข้าสู่ระบบยื่นคำร้องขอลงทะเบียนล่าช้า</h3>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </td>
            </tr>
       </tbody>
   </table>
</body>
</html>
