<!doctype html>
<html>
<head>
    <title>ระบบยื่นคำร้องขอลงทะเบียนล่าช้า</title>
</head>
<body>
    <body background="../image/bg.PNG" bgproperties="fixed"></body>
    
    <p><h1>
        <img src="../image/thammasat.png" height="200" weight="200" align="left">
        <img src="../image/wangyibo.jpg" height="160" weight="130" align="right">
        
        <pre>       
            <h3>        ระบบยื่นคำร้องขอลงทะเบียนล่าช้า</h3><h6 align="right"><a href="../html/login.html">Log Out</a></h6>
        </pre>
        
    </h1></p>

    <p>
        <form action="">
            <input type="text" name="search">
            <input type="submit" value="ค้นหา"> 
        </form>
    </p>

    <hr width="100%" noshade color = "black">

    <center><p><h3>ข้อมูลรายชื่อนักศึกษาที่ยื่นคำร้องการจดทะเบียนล่าช้า</h4></p></center>

    
        <tr><table border="1" bgcolor="white" width="75%" align="right">
            <tr bgcolor="black">
                <td><pre><h3 style="color: white;" align="center">ลำดับ</h3></pre></td>
                <td><pre><h3 style="color: white;" align="center">ชื่อ - นามสกุล</h3></pre></td>
                <td><pre><h3 style="color: white;" align="center">เลขประจำตัวนักศึกษา</h3></pre></td>
                <td><pre><h3 style="color: white;" align="center">ผลการจดทะเบียนล่าช้า</h3></pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">1</h4></pre></td>
                <td><pre><h3 align="center">นาย xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td bgcolor="1EB0E6"><pre><h3 align="center">ผ่าน</h3></pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">2</h4></pre></td>
                <td><pre><h3 align="center">นาย xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td bgcolor="1EB0E6"><pre><h3 align="center">ผ่าน</h3></pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">3</h4></pre></td>
                <td><pre><h3 align="center">นางสาว xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td bgcolor="1EB0E6"><pre><h3 align="center">ผ่าน</h3></pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">4</h4></pre></td>
                <td><pre><h3 align="center">นาย xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td bgcolor="EF4130"><pre><h3 align="center">ไม่ผ่าน</h3></pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">5</h4></pre></td>
                <td><pre><h3 align="center">นางสาว xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td bgcolor="1EB0E6"><pre><h3 align="center">ผ่าน</h3></pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">6</h4></pre></td>
                <td><pre><h3 align="center">นางสาว xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td bgcolor="1EB0E6"><pre><h3 align="center">ผ่าน</h3></pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">7</h4></pre></td>
                <td><pre><h3 align="center">นางสาว xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td bgcolor="EF4130"><pre><h3 align="center">ไม่ผ่าน</h3></pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">8</h4></pre></td>
                <td><pre><h3 align="center">นาย xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td bgcolor="EF4130"><pre><h3 align="center">ไม่ผ่าน</h3></pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">9</h4></pre></td>
                <td><pre><h3 align="center">นางสาว xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td bgcolor="1EB0E6"><pre><h3 align="center">ผ่าน</h3></pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">10</h4></pre></td>
                <td><pre><h3 align="center">นางสาว xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td bgcolor="EF4130"><pre><h3 align="center">ไม่ผ่าน</h3></pre></td>
                
            </tr>
            <tr>
                <td><pre><h4 align="center">11</h4></pre></td>
                <td><pre><h3 align="center">นาย xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td bgcolor="1EB0E6"><pre><h3 align="center">ผ่าน</h3></pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">12</h4></pre></td>
                <td><pre><h3 align="center">นาย xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td bgcolor="EF4130"><pre><h3 align="center">ไม่ผ่าน</h3></pre></td>
            </tr>

        </table></tr>
    

    <form action="">
        <input type="submit" value="ข้อมูลรายชื่อนักศึกษาที่ยื่นคำร้องการจดทะเบียนล่าช้า"><br>
        <br>
        <input type="submit" value="แยกประเภทนักศึกษาตามการตรวจสอบเอกสาร"><br>
        <br>
        <input type="submit" value="แสดงผลข้อมูลนักศึกษา"><br>
        <br>
        <input type="submit" value="ส่งข้อมูลนักศึกษาให้ฝ่ายวิชาการ"><br>
        <br>
    </form>

    
    <h4><a href="../html/main_menu.html">Home</a></h4>
    
</body>
</html>