<!doctype html>
<html><head>

    <title>ส่งข้อมูลให้ฝ่ายวิชาการคณะ</title>
    <link rel="stylesheet" href="U9.css">
</head>

<body><header>
    <h2>
        <img src="logo.png" height="150" width="150" align="middle">&nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;<b>ระบบยื่นคำขอลงทะเบียนเรียนล่าช้า</b><br>
        <!-- <img align="LEFT"> -->
    </h2>
</header>
<!-- <body background="background.jpg" bgproperties="fixed"></body> -->



    <section>
        <nav>
            <!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br> -->
            <br><a align="Left" class="button2" href="/">ออกจากระบบ</a>
        </nav>

        <article>
			<center>
				<h3>
					<br>
					<p>รายชื่อนักศึกษาที่ผ่านการพิจารณาการลงทะเบียนล่าช้าแล้วการจดทะเบียนล่าช้า</p>
				</h3>
			</center>
            <h5 align="center">
                <table border="1" width="100%" align="CENTER">

                    <!-- <CAPTION></CAPTION> -->
                    <tbody><tr>
                        <td>ลำดับ</td>
                        <td>ชื่อ - นามสกุล</td>
                        <td>เลขประจำตัวนักศึกษา</td>
                        <td>ข้อมูล</td>
                        
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>นางสาว XXXXX XXXXX</td>
                        <td>62XXXXXXXX</td>
                        <form action=""></form>
                        <td align="center">
                                <br><a align="center" class="button3" href="">ดูข้อมูล</a>
                            </td>
                        
                        
                        
                    </td></tr>
                    <tr>
                        <td>2</td>
                        <td>นางสาว XXXXX XXXXX</td>
                        <td>62XXXXXXXX</td>
                        <form action=""></form>
                        <td align="center">
                                <br><a align="center" class="button3" href="">ดูข้อมูล</a>
                            </td>
                        
                        
                    </td></tr>
                    <tr>
                        <td>3</td>
                        <td>นาย XXXXX XXXXX</td>
                        <td>63XXXXXXXX</td>
                        <form action=""></form>
                        <td align="center">
                                <br><a align="center" class="button3" href="">ดูข้อมูล</a>
                            </td>
                        
                       
                        
                    </td></tr>
                    <tr>
                        <td>4</td>
                        <td>นางสาว XXXXX XXXXX</td>
                        <td>61XXXXXXXX</td>
                        <form action=""></form>
                        <td align="center">
                                <br><a align="center" class="button3" href="">ดูข้อมูล</a>
                            </td>
                        
                        
                        
                    </td></tr>
                    <tr>
                        <td>5</td>
                        <td>นาย XXXXX XXXXX</td>
                        <td>61XXXXXXXX</td>
                        <form action=""></form>
                        <td align="center">
                                <br><a align="center" class="button3" href="">ดูข้อมูล</a>
                            </td>
                        
                        
                    </td></tr>
                    <tr>
                        <td>6</td>
                        <td>นาย XXXXX XXXXX</td>
                        <td>61XXXXXXXX</td>
                        <form action=""></form>
                        <td align="center">
                                <br><a align="center" class="button3" href="">ดูข้อมูล</a>
                            </td>
                        
                        
                    </td></tr>
                    <tr>
                        <td>7</td>
                        <td>นาย XXXXX XXXXX</td>
                        <td>63XXXXXXXX</td>
                        <form action=""></form>
                        <td align="center">
                                <br><a align="center" class="button3" href="">ดูข้อมูล</a>
                            </td>
                        
                        
                        
                    </td></tr>
                    <tr>
                        <td>8</td>
                        <td>นาย XXXXX XXXXX</td>
                        <td>63XXXXXXXX</td>
                        <form action=""></form>
                        <td align="center">
                                <br><a align="center" class="button3" href="">ดูข้อมูล</a>
                            </td>
                        
                        
                    </td></tr>
                    <tr>
                        <td>9</td>
                        <td>นางสาว XXXXX XXXXX</td>
                        <td>62XXXXXXXX</td>
                        <form action=""></form>
                        <td align="center">
                                <br><a align="center" class="button3" href="">ดูข้อมูล</a>
                            </td>
                        
                        
                        
                    </td></tr>
                    <tr>
                        <td>10</td>
                        <td>นาย XXXXX XXXXX</td>
                        <td>62XXXXXXXX</td>
                        <form action=""></form>
                        <td align="center">
                                <br><a align="center" class="button3" href="">ดูข้อมูล</a>
                            </td>
                       
                    </td></tr>
                    <tr>
                        <td>11</td>
                        <td>นาย XXXXX XXXXX</td>
                        <td>62XXXXXXXX</td>
                        <form action=""></form>
                        <td align="center">
                                <br><a align="center" class="button3" href="">ดูข้อมูล</a>
                            </td>
                        
                        
                        
                    </td></tr>
                    <tr>
                        <td>12</td>
                        <td>นาย XXXXX XXXXX</td>
                        <td>63XXXXXXXX</td>
                        <form action=""></form>
                        <form action=""></form>
                        <td align="center">
                                <br><a align="center" class="button3" href="">ดูข้อมูล</a>
                            </td>
                        
                        
                        
                    </td></tr>
                </tbody></table>
            </h5>

        </article>
    </section>
    <!-- <header>
        <a class="button2" href="login.html">Sign out</a>
    </header> -->


<button3>
    <a href="">ส่งข้อมูลให้ฝ่ายวิชาการคณะ</a>
</button3>





</body></html>